<!doctype html>
  <html lang=en>
  <head>
    <meta charset=utf-8>

    {% if show_metadata == True %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hypothes_is" />
    <meta name="twitter:title" content="{{ quote }}" />
    <meta name="twitter:description" content="{{ text }}" />
    <meta name="twitter:image" content="{{ 'bouncer:static/images/twitter.png'|static_url }}" />

    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="Hypothesis"/>
    <meta property="og:title" content="{{ quote }}"/>
    <meta property="og:description" content="{{ text }}"/>
    <meta property="og:image" content="{{'bouncer:static/images/facebook.png'|static_url }}"/>

    {% endif %}

    <title>{{ title|safe }}</title>
    <link rel="stylesheet"
          type="text/css"
          href="{{'bouncer:static/styles/bouncer.css'|static_path}}">
  </head>
  <body>
    <div class="center">
      {% block content %}{% endblock %}
    </div>
  </body>
  {% block scripts %}{% endblock %}

</html>
