{% extends "templates/base.html.jinja2" %}

{% set title = message %}

{% block content %}
  <img src="{{'bouncer:static/images/sad-annotation.svg'|static_path}}">
  <p>
    {{ message|safe }}
  </p>
{% endblock %}
